<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="internal-nlog.txt">
	<extensions>
	</extensions>
	<targets async="true">
		<target xsi:type="File" name="info" fileName="${basedir}/logs/${date:format=yyyyMMdd}.txt"
		  layout="${longdate}|${level:uppercase=true}|${logger}|${threadid}|${message}|${exception:format=tostring}"/>
		<target name="logconsole" xsi:type="Console" layout="${message}${newline:when=length('${exception}')&gt;0}${exception:format=tostring}"/>
		<target name="debugger" xsi:type="Debugger" layout="${message}${newline:when=length('${exception}')&gt;0}${exception:format=tostring}"/>
	</targets>
	<rules>
		<logger name="*" minlevel="Trace" writeTo="info"/>
		<logger name="*" minlevel="Trace" writeTo="logconsole"/>
		<logger name="*" minlevel="Trace" writeTo="debugger"/>
	</rules>
</nlog>